.user-details-wrapper {
    margin-top: 200px;
    margin-left: 200px;
    text-align: left;
    font-size: 16px;
}
.permissions-container {
    display: flex;
}
.permissions {
    margin-top: 200px;
    margin-left: 100px;
}
.permission-form {
    display: flex;
    font-size: 14px;
}
.perm-item {
    margin-right: 30px;
    width: 160px;
    text-align: left;
    border: 1px solid lightgray;
}
.add-permissions {
    width: 160px;
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(80, 126, 252);
    color: white;
    border: none;
    border-radius: 6px;
}
.perm-title {
    text-align: left;
}