.userList-container {
    width: 96%;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
    /*novo*/
}
.table-wrapper {
    padding-top: 10px;
    border-radius: 6px;
    margin-top: 40px;
    height: 700px;
    background-color: white;
}
.header-wrapper {
    display: flex;
    margin-top: 10px;
    background-color: rgb(101, 180, 255);
    margin-bottom: 10px;
}
.header-wrapper div {
    width: 9%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    background-color: rgb(101, 180, 255);
    margin-bottom: 16px;
}
.header-item {
    cursor: pointer;
}
.body-item {
    display: flex;
}
.body-item div {
    width: 9%;
    height: 36px;
    font-size: 14px;
    padding-top: 8px;
    background-color: white;
    color: #4a5073;
}
.hr {
    color: rgba(46,54,80,0.075);
    width: 96%;
}
.edit-button,
.delete-button {
    width: 90px;
    height: 40px;
    background-color: rgb(49, 121, 253);
    font-size: 13px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    cursor: pointer;
}
.assign-permissions {
    width: 140px;
    height: 40px;
    background-color: rgb(49, 121, 253);
    font-size: 13px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    cursor: pointer;
}
.create-new-user {
    width: 130px;
    height: 40px;
    position: absolute;
    left: 120px;
    margin-top: 30px;
    background-color: rgb(49, 121, 253);
    font-size: 13px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.search-filter-container {
    position: absolute;
    margin-left: 300px;
    margin-top: 30px;
}
.filter-dropdown {
    background-color: white;
    border: 2px solid lightgray;
    width: 120px;
    height: 36px;
}
.search-input {
    border: 1px solid lightgray;
    height: 36px;
    margin-left: 10px;
}
.search-button {
    width: 90px;
    height: 40px;
    background-color: rgb(49, 121, 253);
    font-size: 13px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}
.error-message {
    color: red;
}